app:
  mode: "local"
  interactive: false
  output_format: "console"

logging:
  level: "INFO"
  file: ""

model:
  type: "sklearn"
  path: "weights/house_lin_reg.pkl"

dataset:
  path: "datasets/house_pricing_dataset.csv"
  type: "csv"
  csv_params:
    delimiter: ","
    header: 0
    index_col: null
    only_x: true
  preprocess:
    normalize: false
    additional_steps: []

explainer:
  type: "lime"
  parameters:
    num_features: 199
    num_samples: 5000
    additional_params: {}

local:
  dataset:
    path: "C:\\Users\\exore\\OneDrive\\Desktop\\diploma\\PulseTrace\\datasets\\house_sample.csv"
    type: "csv"